/*
@Autor: Eduardo de Moraes Ferreira 
@Email: ferr.tutorial@gmail.com
*/

* { margin:0; padding:0; } /* para remover o espaço branco do topo e da esquerda. */

body {
  width: 100vw;
  height: 100vh;
  background-image:  url("../images/fundo-da-agua-azul.png");
  margin: 0px;
  animation: mar 60s infinite linear;
  overflow: hidden; 
  display: flex; 
  justify-content: space-between;
  align-items: center;

}
@keyframes mar {
	0% {
    background-position: 0 0;
  }
	50% {
		background-position: 100px 10px;
	}
	100% {
		background-position: 200px 20px;
	}
}
canvas{
  width: 100vmin;
  height: 100vmin;
  object-fit: contain;
}

button{
  background: transparent ;
  border-style: unset;
  outline-style: none;
}

#controle {
  width: inherit;
}
#controle > aside{
  display: flex; 
  justify-content: space-around;
}


button#up {
  color: royalblue;
}
button#right {
  color: yellow; 
}
button#left {
  color: green;
}
button#down {


  color: tomato;
}


@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
  button{
    font-size:10vh;
  }
}

@media (orientation: landscape) {
  body { 
    flex-direction: row;
  }
  button{
     font-size:10vw;
  }
  
} 
