/*
@Autor: Eduardo de Moraes Ferreira 
@Email: ferr.tutorial@gmail.com
*/

* { margin:0; padding:0; } /* para remover o espaço branco do topo e da esquerda. */

body {
  background-image:  url("../images/fundo-da-agua-azul.png");
  margin: 0px;
  animation: mar 60s infinite linear;
  overflow: hidden; 
  display: flex; /*aqui começa a mágica*/
  justify-content: center;
  align-items: center;

}
@keyframes mar {
	0% {
    background-position: 0 0;
  }
	50% {
		background-position: 100px 10px;
	}
	100% {
		background-position: 200px 20px;
	}
}
canvas{

  width: 100vmin;
  height: 100vmin;
    object-fit: contain;
}

#controle  button{
  padding: 5vw; 
  border-radius: 5vw;
}

aside{
  display: flex;
  justify-content: center;
  align-items: center;
}
#controle #up {
  background: red;
  margin: 10vw 0% 0% 5vw;
}

#controle #right {
  background: yellow;
    margin: 0% 0% 0% 5vw;
  
}
#controle #left {
  background: green;
  margin: 0% 10vw 0% 5vw;
}
#controle #down {
  background: blue;
  margin: 0% 0% 20% 5vw;
}



@media (orientation: portrait) {
  body {

    flex-direction: column;
  }
}

@media (orientation: landscape) {
  body { 

    flex-direction: row;
  }
} 
